body {
  box-sizing: border-box;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  min-height: 100vh;
  margin: 0;
  position: relative;
}

#display {
  font-size: 20px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin: 0px auto;
  align-items: center;
}

body::after {
  content: '';
  display: block;
  height: 25px;
}

.nav {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(241, 241, 241);
  padding: 5px 0 5px 0;
}

.nav a {
  color: rgb(83, 83, 83);
  text-decoration: none;
}

.nav a:hover {
  color: rgb(146, 146, 146);
  text-decoration: none;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 25px;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(241, 241, 241);
  padding-top: 5px;
}

.footer > * {
  padding: 0 25px 0 25px;
}

.footer a {
  color: rgb(83, 83, 83);
  text-decoration: none;
}

.footer a:hover {
  color: rgb(146, 146, 146);
  text-decoration: none;
}

@media only screen and (min-width: 961px) {
  #notepage {
    margin: 50px;
    padding: 40px;
    background-color: ivory;
    border: 2px solid grey;
    width: 100%;
    min-height: 50%;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
  }
}

img {
  width: 100%;
}

#currNote {
  margin-top: 25px;
}

#title {
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
}

#pickPage {
  display: flex;
  justify-content: space-between;
}

#pageInput {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#noteText {
  border-bottom: 1px solid grey;
  line-height: 2em;
}

#inputCaption {
  font-size: 14px;
}

.column {
  display: flex;
  flex-direction: column;
}

.column > * {
  margin-bottom: 20px;
}

a {
  color: #00b7ff;
}

.addPage {
  display: flex;
  justify-content: center;
}

.add {
  padding: 50px;
  display: flex;
  flex-direction: column;
  width: 66%;
  justify-content: center;
  align-content: center;
}

.notesAdded {
  border-style: groove;
}

.h2 {
  font-size: 14px;
}
